@model StoreManagementSystem.Models.User

@{
    ViewData["Title"] = "DetailsUser";
}

<h4>DetailsUser</h4>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActionDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
