@model IEnumerable<StoreManagementSystem.Models.User>

<p>
    <a asp-action="AddUser">AddUser</a>
    <a asp-action="Create">Action</a>
</p>
@{
    ViewData["Title"] = "See All User";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastActionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastActionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerDateTime)
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="DetailsUser" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
